{% load staticfiles %}
<html>
<head>
  <title>THE ANTI-SOCIAL NETWORK</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- <link rel="stylesheet" href='{% static "css/mybase.css" % }'/> -->
</head>
<body>
  {% include 'messages_display.html' %}<!-- another cool feature of templating ,i.e it can include various files so that our base.html looks cleaner!-->
  <div class="container">
    {% block content %} <!-- this is a reusable block / or the base block-->
        <!--details copied to post_list.html-->
    {% endblock content %}
  </div>
</body>
</html>
